---
import Layout from "../components/layout.astro";
import ContactRow from "../components/contact-row.astro";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
---
<Layout>
   <div class="mx-auto pb-24">
    <div class="bg-neutral-900/60 rounded-lg p-4 mt-[60px] md:mt-[80px] mb-6">
      <div class="flex-col md:flex-row flex items-center justify-center gap-6 md:gap-10 h-full text-white">
          <h2 class="text-white text-2xl font-logo">答案</h2>
          <a href="/数学同步答案.pdf" target="_blank">数学同步答案</a>
      </div>
    </div>
  </div>
</Layout>

